* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #DADADA
}

h1,
h2,
h3 {
    margin: 0;
}

.main-container {
    display: flex;
    height: 100vh;
    align-items: start;
    justify-content: center;
    padding: 24px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 18px;
    line-height: 1;
}